body {
	font-family: 'Rationale', Helvetica, sans-serif;
}

/*Aurimas section style*/
header{
	background-color: #303633 ;
	position: fixed;
	min-height: 50px;
	width: 100%;
	font-size: .85em;
}
.fixedm {
	min-height: 50px;
	background-color: #7EA2AA
}
nav ul {
	max-width: 669px;
    display: flex;
	justify-content: space-between;
	
}
nav li>a, .dropbtn {
	color: #bbb;
	text-decoration: none;
}
nav li {
	list-style: none;
	
}
/*Dropdown menu*/
nav a:hover, .dropdown:hover .dropbtn {
    color: whitesmoke;
}
.dropdown .dropbtn {
    border: none; 
    background-color: inherit;
    font-family: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #303633;
}
.dropdown-content a {
    float: none;
    color: #bbb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content ul {
	font: inherit;
	display: inline;
	padding: 0;
}

/*for smaller screen*/
@media (max-width: 750px) { 
	header {
		background: #7EA2AA;
		position: unset;
	}
	.fixedm {
		display: none;
	}
	nav ul {
	 	flex-direction: column;
		text-align: center;
		max-width: 362px;
    	margin: 0 auto;
		margin-top: 5px;  
		padding: 0; 
	}
	nav li{
		padding: 10px;
		margin: 1px;
		background-color: #303633;
	}
	.dropdown-content {
		position: absolute;
		background: none;
		width: 100%;
    	max-width: 340px;
		padding-top: 10px;
		background-color: #888888;
		padding: 0;
	}
	.dropdown-content a {
		padding: 0;
	}
	.dropdown-content li {
		background: none;
	}
	.dropdown:hover .dropdown-content {
		display: contents;
	}
	.dropdown:hover {
		background-color: #888888;
	}
}
/*Aurimas end*/

 /* Hamzat's code starts here */
section.banner {
	height: 500px;
	background-image:url("img.jpg");
	background-size: cover;      
}

h1 {
	margin-top: 0;
	color: white;
	font-size: 4em;
	background-color: black;
	display: inline-block;
	margin: 200px 10px;
}
  /* Hamzat's code ends here */

/* Titas CSS section start*/
section.second-section {
	background-color: #7EA2AA;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 300px;
}

section.second-section div.flex-container {	
  display: flex;
  justify-content: center;
  /* This part makes it responsive*/
  flex-wrap: wrap;
}

section.second-section p {
	width: 350px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 5px 10px 18px #888888;
	background-color: #DCDCDC;
	padding:5px;
}

section.second-section h2 {
	margin: 0px;
}

section.second-section img {
    float: right;
    width: 150px;
    margin-left: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

section.second-section strong, section.second-section span {
	display: block;
	margin-bottom: 15px;
}

section.second-section span.last-paragraph {
	display: block;
	margin-top: 15px;
	margin-bottom: 0px;
}
/* Titas CSS section end*/
/* Povilas start */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300');

.top-container div a img{
height: 30px;
}

footer{
	background-color:  rgb(136, 167, 163);
	min-height: 70px;
	background: linear-gradient(to bottom right, #888DA7, rgb(136, 167, 163));
	border-bottom: 1.5px solid black;		
	text-align: center;
}	

.top-container {
	display: flex;
	justify-content: space-evenly;
	width: 65%;
	margin: 0 auto;
	flex-wrap: wrap;
	margin: 0 auto;	
}

.middle-container{
	display: flex;
	justify-content: center;
	text-align: center;

}
.bottom-container{
	display: flex;
	justify-content: space-between;
	padding-right: 66px;
	margin-bottom: 0px;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	color: rgb(64, 77, 88);
	font-size: 10px;
	padding-left: 90px;	
	min-height: 30px;	
}

.input input{
	height:  23.1px;
	background-color: #888DA7;
	border-style: none;
	color: #DCDCDC;
	width: 200px;
	text-align: center;
	border-left: 1px solid rgb(126, 124, 124);
	border-right: 1px solid rgb(126, 124, 124);
}
.input input:focus{
	background-color: white;
	color:black;
		
}
.input input:hover{
	background-color: white;
	color:black;
	transition-duration: 1s;
}
.input a button{
	height: 25.7px;
	background-color: rgb(136, 148, 167);
	border: 1px solid rgb(126, 124, 124);	
	color: rgb(126, 124, 124);
	border-radius: 2px;
	transition-duration: 0.5s;
	margin-top: 5px;
}

.input a button:hover{
	background-color: rgb(87, 80, 80);
	color: white;
}

.input{
	display: inline-block;
	padding-top: 4px;
	margin-bottom: 5px;	
}

.social-container{
	width: 300px;
	display: flex;
	justify-content: space-between;
	padding-top:7px;	
}

.social-container a:hover{
	background-color: white;	
	transition-duration: 0.4s;
	border-radius: 2px;
		
}

.bottom-container div a img{
	height: 13px;
	padding-left: 10px;
	padding-top: 10px;
}
/*Povilas form start*/

.question_form, .name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:400px;
	margin:0 auto;
}

.name-sur{
	display: flex;
	justify-content: flex-start;
}


/*Povilas form end*/