/* Titas CSS section start*/
section.second_section {
	background-color: #7EA2AA;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 300px;
}

section.second_section div.flex-container{	
  display: flex;
  justify-content: center;
  /* This part makes it responsive*/
  flex-wrap: wrap;
}

section.second_section p{
	width: 350px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 5px 10px 18px #888888;
	background-color: #888DA7;

}

section.second_section h2{
	margin: 0px;
}

section.second_section img{
    float: right;
    width: 150px;
    margin-left: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
/* Titas CSS section end*/